.top {
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    place-items: center;
    transition: .4s;
}

.close {
    top: 13.8em;
    left: 59.3%;
}



.translate {
    transform: translateY(-100%);
}